body {
  font-family: "Poppins", sans-serif;
  background-color: #f0eff4;
  color: #323f47;
  margin: 0;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  user-select: none;
  z-index: 0;
  background-image: url("/NMH-watermark.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  opacity: 0.15;
}

body.no-scroll {
  overflow: hidden;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  padding: 0;
}
